<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Sym</th>
      <th scope="col">Strikes</th>
      <th scope="col">Lower Mid</th>
      <th scope="col">Upper Mid</th>
      <th scope="col">Ratio</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @syms.each do |sym| %>
      <tr id="data-<%= sym %>">
        <%= render 'listings/loading_data', sym: sym %>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- hidden data triggers -->
<div id="hidden-data-trigger" hidden="true">
  <%= render 'listings/hidden_data_triggers', syms: @syms %>
</div>