<th class="data-row data-row-sym" scope="row"><%= "#{sym} (Loading...)" %></th>
<td class="data-row">Loading...</td>
<td class="data-row">Loading...</td>
<td class="data-row">Loading...</td>
<td class="data-row">Loading...</td>
<td><%= link_to 'Remove', remove_sym_path(sym), :class => "btn btn-outline-danger", :remote => true %>
</td>

<script>
  $(document).ready(function(){
    $("#trigger-data-<%= sym.gsub(/\//,'_') %>")[0].click();
  });
</script>