.add-field {
  width: 200px !important;
  margin-left: 20px;
  margin-right: 20px;
}

.add-form {
  margin-bottom: 15px;
}

.data-row {
  cursor: pointer;
}

.chart-selectors {
  width: 500px !important;
  margin-left: 20px;
  margin-top: 10px
}