.add-field {
  width: 200px !important;
  margin-left: 20px;
  margin-right: 20px;
}

.add-form {
  margin-bottom: 15px;
}

.data-row {
  cursor: pointer;
}

.chart-selectors {
  width: 500px !important;
  margin-left: 20px;
  margin-top: 10px
}

.sym-header {
  color: rgb(108, 255, 128)
}

.row-hover:hover {
  background-color: #000000;
}

.cell-hover {
  cursor: pointer;
  background-color: initial;
}

.cell-hover:hover {
  background-color: #000000;
}

.nav-link:hover, .navbar-brand:hover {
  background-color: initial;
}